<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/demo.css" %}" rel="stylesheet">
    
</head>

<body>
    {% if name %}
    <h1>Thanks for providing information::::{{name}}</h1><br>
    <h1>Please fill amother form</h1>
    {% else %}
    <p>Please fill the form</p>
    {% endif %}
    <div class='container'>
<h1 style="margin:auto">Welcome to Abhinav Block</h1>
        <form method="POST">

            {{form.as_p}}
            {%csrf_token%}
            <input type="submit" value="submitMarksa">

        </form>



    </div>
</body>

</html>