<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/demo.css" %}" rel="stylesheet">
</head>

<body>
    {% if sent %}
    <h1>Thanks for providing information {{form.name}}</h1><br>
    <h1>Please fill amother form</h1>
    {% else %}
    <p>Please fill the form</p>
    {% endif %}
    <div class='container'>

        <form method="POST">

            {{form.as_p}}
            {%csrf_token%}
            <input type="submit" value="submitMarks">

        </form>



    </div>
</body>

</html>